.outerDivStyle {
    display: block;
    width: 17.33%;
    height: 36vh;
    padding: 2vh 1.33% 2vh 1.33%;
    transition-timing-function: ease-out;
    transition:
            width 0.25s,
            height 0.25s,
            padding 0.25s
}

.outerDivStyle:hover {
    padding: 1vh 0.67% 1vh 0.67%;
    width: 18.67%;
    height: 38vh;
}