.descStyle {
    border: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: rgb(150, 150, 150);
    margin: 0 5px 0 5px;
}

.titleAndValueStyle {
    display: flex;
    border: solid;
    border-width: 5px;
    border-radius: 10px;
    flex-shrink: 1;
    margin: 20px 5px 5px 5px;
    width: 20%
}

.likeDislikeStyle {
    display: flex;
    flex-shrink: 1;
    margin: 2% 1% 1% 1%;
    padding: 1vh 1vw 1vh 1vw;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    width: 3vmin;
    height: 3vmin;
    transition:
            width 0.25s,
            height 0.25s,
            margin 0.25s
}

.likeDislikeStyle:hover {
    width: calc(3vmin + 0.5%);
    height: calc(3vmin + 0.5%);
    margin: 1.75% 0.75% 0.75% 0.75%;
}

.reportStyle {
    display: flex;
    margin: 2% 1% 1% 1%;
    width: 12vmin;
    font-size: 2.75vmin;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 3vmin;
    color: #960000;
    border-color: #960000;
    transition:
            width 0.25s,
            height 0.25s,
            margin 0.25s,
            font-size 0.25s;
}

.reportStyle:hover {
    width: calc(12vmin + 1%);
    margin: 1.75% 0.5% 0.75% 0.5%;
    font-size: 3.1vmin;
}