.outerDivStyle2 {
    display: block;
    width: 30.66%;
    height: 20vh;
    padding: 2vh 1.33% 2vh 1.33%;
    transition-timing-function: ease-out;
    transition:
            width 0.25s,
            height 0.25s,
            padding 0.25s
}

.outerDivStyle2:hover {
    padding: 1vh 0.67% 1vh 0.67%;
    width: 32%;
    height: 22vh;
}

.reportStyle {
    display: flex;
    flex-shrink: 1;
    margin: 2% auto 1% 1%;
    width: 12vmin;
    font-size: 2.75vmin;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: auto;
    color: #960000;
    border-color: #960000;
}